<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testsuite">
  <test name="Tests">
    <classes>
      <class name="testNGTryout.day1">
		  <methods>
			  <exclude name="TC1" />	 
		</methods>
	  </class>
      <class name="testNGTryout.day2"/>
    </classes>
    </test>
  
  <test name="food">
   	 <classes>
		<class name="testNGTryout.day3">
			<methods>
				<exclude name="broc.*" />
			</methods>
		</class>
    </classes>
    </test>
   <!-- Test -->
</suite> <!-- Suite -->